@inherits LayoutComponentBase

@using DepositManager.Data
@using Microsoft.EntityFrameworkCore

@inject DepositServices depositService

<div class="control-section">
    <SfPdfViewer2 @ref="@depositTicketViewer"
                  DocumentPath="@depositFormPath">
    </SfPdfViewer2>
</div>

@code {
    [CascadingParameter]
    protected Deposit deposit { get; set; }

    Dictionary<string, string> depositTicketFormFields;
    SfPdfViewer2 depositTicketViewer;
    public string depositFormPath { get; set; } = "wwwroot/Data/deposit_form.pdf";

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            OnImportFormFieldsClick();
        }
        return base.OnAfterRenderAsync(firstRender);
    }

    public async void OnImportFormFieldsClick()
    {
        depositTicketFormFields = await depositService.CreateDepositTicketAsync(deposit);
        await depositTicketViewer.ImportFormFieldsAsync(depositTicketFormFields);
        InvokeAsync(() => StateHasChanged());
    }

}
