@inherits LayoutComponentBase

@using DepositManager.Data
@using Microsoft.EntityFrameworkCore

@inject DepositServices depositService
<div class="control-section">
    <SfButton OnClick="@OnImportFormFieldsClick">Create Deposit Ticket</SfButton>
    @if (depositTicketFormFields != null)
    {
        
    }
    <SfPdfViewer2 @ref="@depositTicketViewer"
                  DocumentPath="@depositFormPath"
                  Height="100%"
                  Width="100%">
    </SfPdfViewer2>
</div>

@code {
    [CascadingParameter]
    protected Deposit deposit { get; set; }

    Dictionary<string, string> depositTicketFormFields;
    SfPdfViewer2 depositTicketViewer;
    public string depositFormPath { get; set; } = "wwwroot/Data/deposit_form.pdf";

    public async void OnImportFormFieldsClick(MouseEventArgs args)
    {
        // Import the form field data from the dictionary into the current PDF document.
        depositTicketFormFields = await depositService.CreateDepositTicketAsync(deposit);
        await depositTicketViewer.ImportFormFieldsAsync(depositTicketFormFields);
    }
}
